<script>
	function set_image(data)
	{
		var path = 'images/forumicons/' + data;

		if (data == '')
		{
			document.getElementById('forum_image').value='';
			document.getElementById("fimg").innerHTML = "<img alt='' height='25' width='25' src='./../" + path + "' />";
			return;
		}

		document.getElementById('forum_image').value=path;
		document.getElementById("fimg").innerHTML = "<img alt='' height='25' width='25' src='./../" + path + "' />";
	}
</script>
<dl>
	<dt><label for="side">{{ lang('AVAILABLE_FORUM_IMAGE') }}{{ lang('COLON') }}</label><br />{{ lang('AVAILABLE_FORUM_IMAGE_EXPLAIN') }}<br /><br />{{ lang('SELECTED_FORUM_IMAGE') ~ lang('COLON') }}<span id="fimg">{% if FORUM_IMAGE_SRC %}<img src="{{ FORUM_IMAGE_SRC }}" width="25" height="25" alt="" />{% endif %}</span><br /><br /><input onclick="set_image('')" class="button1" type="button" id="clear" name="clear" value="{{ lang('CLEAR_BUTTON') }}" /></dt>
	<dd class="imageline" id="side">
		{% for forum_img_file_name in loops.forum_img_file_name %}
			{% if forum_img_file_name.FORUM_IMAGE_OPT %}
				<a onclick="set_image('{{ forum_img_file_name.FORUM_IMAGE_OPT }}', true, true); return false;"><img src='{{ FORUM_IMAGE_SRC_PATH }}{{ forum_img_file_name.FORUM_IMAGE_OPT }}' title="{{ FORUM_IMAGE_PATH }}{{ forum_img_file_name.FORUM_IMAGE_OPT }}" width="25" height="25" alt="" /></a>
			{% endif %}
		{% endfor %}
	</dd>
</dl>
